<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Form</title>
</head>
<body>

<form action="#" th:action="@(/course/addcourse)" th:object="${course}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Descripion: <input type="text" th:field="*{description}"/></p>
    <p>Price: <input type="number" th:field="*{price}"/></p>
    <p>Hours: <input type="text" th:field="*{hours}"/></p>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>